<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Generator</title>
</head>
<body>
    <h1 align="center" style="font-family: sans-serif;">Random Number Generator</h1>
    <p align="center" style="font-family: monospace;">This is a Random Number Generator (1 - 100), it uses the random module (from python) to generate its numbers.</p>
    <h4 align="center" style="font-family: sans-serif;">YOUR NUMBER IS:</h4>
    {% if number %}
        <h3 align="center">{{ number }}</h3>
    {% else %}
        <h3 align="center">0</h3>
    {% endif %}
    <form method="POST" align="center"><button type="submit" align="center">Random</button></form>
</body>
</html>
